Base Styling body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container Styling */
.user-profile-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

/* Header Styling */
.posts-header {
    background: #45a049;
    color: white;
    padding: 10px 20px;
    text-align: left;
    box-shadow: 0px 4px 2px -2px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts-header h1 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
}

/* Search Bar Styling */
.post-search-bar {
    flex-grow: 2;
    margin-left: 20px;
}

.post-search {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Main Filter Toggle Button Styling */
.posts-header .post-filter {
    background-color: #50b3a2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.posts-header .post-filter:hover {
    background-color: #45a049;
}

/* Filters List Container */
.collapse {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Individual Filter Button Styling */
.collapse button {
    background-color: inherit;
    color: black;
    padding: 12px 16px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.collapse button:hover {
    background-color: #ddd;
}

/* Article & Post Styling */
.profile-posts {
    width: 60%;
    padding: 20px;
}

.post-preview {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 12px #aaa;
}

.post-preview-header {
    display: flex;
    justify-content: space-between;
}

.post h5 {
    font-size: 24px;
    margin-bottom: 15px;
}

.post h6 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}